

/*.App {*/
/*text-align: center;*/
/*}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.center {
  width: 36% !important;
  padding: 73px 57px 75px 63px;
  text-align: center;
}
.center- {
  width: 42% !important;
  padding: 50px 126px 51px 93px;
  text-align: center;
}
button, input, optgroup, select, textarea {
  margin: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn-success {
  width: 40%;
  margin-left: 12px;
}
#container{
  color : #010101;

}
.card-signup,
.card-signin {
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  border-color: #28074D !important;
  border-width: 2px;
}
.card-signup .card-title,
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.card-signup .card-body,
.card-signin .card-body {
  padding: 2rem;
}
input.col-6,
input.col-12 {
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  border-color: #28074D;
  border-width: 1px;
  padding: 9px;
  margin: 0 0 19px 0;
  /*text-transform: uppercase;*/
  color: #010101;
}

.btn-home-log{
  color: white !important;
  text-transform: uppercase !important;
  background-color: #010101 !important;
  border-color:#540E72 !important;
  border-radius: 10px !important;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  width: 93%;
}

.container.select-semester {
  padding-top: 10rem;
  text-align: center;
}
img.ScheduleGen {
  padding-bottom: 100px;
}
hr{
  color: #540E72;
  background-color: #540E72;
}
.select-semester-button{
  padding-top: 1rem;

}
.wrapper {
  text-align: center;
}
.theList,
div.selected-courses,
input.col-8.course-name {
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  border-color: #540E72;
  border-width: 1px;
  padding: 9px;
  margin: 0 0 19px 0;
  position: relative;
  top: 15px;
  left: 40px;
}
.theList,
div.selected-courses{
  border-color: #540E72;
}
button.col-3.btn.btn-home-log {
  position: relative;
  left: 50px;
  top: 6px;
  height: 3rem;
}
.register{
  color: #010101;
}
.reg{
  padding-top: 20px;
}
.logo{
  /*position: relative;*/
  /*left: -40px;*/
  width: 100%;

}

.linkStyle,
.linkStyle:hover{
  text-decoration: none;
  color: #fff;
}
.container- {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto
}
.semester{
  padding: 100px 0 50px 0;
}
.s-course{
  padding-bottom: 5rem;
}
.close {
  width: 32px;
  -webkit-box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  opacity: 1;

}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #010101;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
button.close {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.row:focus,
input:focus,
.btn:focus {
  outline: 0;
   box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.generate-with-pref:hover,
button.btn.btn-home-log:hover {
  background-color: #540E72 !important;
}


.logo- {
  position: relative;
  left: 0;
}

button.col-2.btn.btn-home-log {
  margin: 10px 37px 10px 37px;
}
.header {
  overflow: hidden;
  height: 49px;
  background-color: #010101;
}
.header a {
  float: left;
  color: #ffffff !important;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.footer a:hover,
.header a:hover {
  background-color: #540E72;
}
h1{
  margin: 20px 0;
}
.header-right {
  float: right;
}
.header-left{
  float: left;
}
.ScheduleGen- {
  padding: 100px 0 50px 0;
}
p:empty {
  width: 100%;
  height: 49px;
  background: #010101;
  margin: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #010101;
  color: white;
  height: 51px;
  padding-top: 13px;
  text-align: center;
}
.footer a{
  color: #ffffff !important;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
}
.header-buttons:hover{

  background-color: #540E72 !important;
}

.header-buttons{
  color: white !important;
  /*text-transform: uppercase !important;*/
  background-color: #010101 !important;
  border-radius: 10px !important;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.aboutTeam{
  position: relative;
  top: 50px;

}
a{
  cursor: pointer;
}
div#inside {
  position: relative;
  top: 95px;
  border-color: black !important;
}
.center- {
  width: 52.5% !important;
  padding: 36px 0 36px 0;
  text-align: center;
}

.adjust-h2{
  padding-left: 25px;

}
.select-semester-options{
  left: 16px !important;

}
.about-us-img{
  text-align: center;
}
img.logo {
  margin-bottom: 30px;
}
.sign-up-logo{
  width: 50%;
  margin-bottom: 30px;
}
.logo-select-sem{
  width: 30%;
}
.fix-sign-up {
  margin-left: 12px;
  margin-top: 20px;
  position: relative;
  left: 95px;
  width: 30%;
}
.col-new{
  position: relative;
  left: 115px;
max-width: 90%;
}
p.theList {
  left: 26px;
  width: 96%;
}
form.form-elements {
  text-align: left;
}
.adjust-item {
  width: 97% !important;
  padding: 21px 0 36px 0;
}
div#student{
  position: relative;
  top: 25px;
  border-color: black !important;
}
.student-profile{
  border-radius: 1rem;
  -webkit-box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  border-color: #540E72 !important;
  border-width: 2px;
}
img.student-profile-logo {
  width: 33%;
  padding: 20px;
}
.myProfile {
  padding: 0 2rem;
}
.student-img {
  height: 100%;
}
.myProfile-inner {
  padding-top: 24px;
}
h1.show-options {
  text-align: center;
}
.center-arrows{
  width: 7%;
}
.row-for-arrow{
  padding-left: 27rem;
}
img.center-arrows {
  height: 5%;
}
.show-option-num {
  font-size: 19pt;
}
button#dropdownMenu2 {
  margin-left: 0;
  background: black;
}
button#dropdownMenu2 {
  position: relative;
  top: -11px;
  left: 285px;
  background: black;
}


/*--------------------view schedule-------------------------------*/

.table__wrapper {
  box-shadow: 0px 1px 57px -9px darkgrey;
  border: 1px solid #bdbbb6;
  border-radius: 10px;
  font-size: 1em;
  padding: 20px;
}
.table_heading_wrapper {
  padding: 2rem 0 1rem 0;
}
.table__wrapper p {
  margin: 0 0 0 3px
}

.table_heading {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #bdbbb6;
}
.tbody {
  border: 1px solid #bdbbb6 !important;
}
.table th {
  height: 50px;
  margin-left: 5px !important;
}
.table th,  .table td {
  text-align: center;
  padding: 8px;
}
/*th:nth-child(2) {background-color:lightblue }*/
/*th:nth-child(3) {background-color:limegreen }*/
/*th:nth-child(4) {background-color:yellow }*/
/*th:nth-child(5) {background-color:lightcoral }*/
/*th:nth-child(6) {background-color:slategray}*/

th{
  background-color: #540E72;
  color:#ffffff;
  border: 1px solid #fff !important;
}
.table tr , .table td {
  border: 1px solid #bdbbb6;
}
.button__wrapper {
  /*text-align: right;*/
}
.button__wrapper button{
  /*background-color:darkcyan;*/
  background-color:#010101;
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: 0.5s;
}
img.center-arrows.next {
  height: 30px !important;
  width: 40px;
}
img.center-arrows.prev {
  height: 31px !important;
  width: 40px;
}
.table {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #212529;
}


/*///////*/

.right-arrow-position{
  position: absolute;
  top: 64%;
  left: 73%;
  height: 3%;
  width: 3%;
}
img.center-arrows.left-arrow-position {
  position: absolute;
  width: 3%;
  height: 4.5%;
  left: 22%;
  top: 64%;
}
button.col-3.btn.btn-home-log.select-semester-options {
  padding: 0;
  max-width: 22.6%;
}

.newwrapper {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.newwrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 30px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.newwrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.newwrapper input:checked ~ .checkmark {
  background-color: #540E72;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.newwrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.newwrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.preferences {
  margin-left: 30px;
  margin-top: 17px;
}

/* The container */
.wrapping {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  margin-right: 20px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.wrapping input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.check-mark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.wrapping:hover input ~ .check-mark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.wrapping input:checked ~ .check-mark {
  background-color: #540E72;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}
.preferences h6{
  text-decoration: underline;
}

/* Show the indicator (dot/circle) when checked */
.wrapping input:checked ~ .check-mark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.wrapping .check-mark:after {
  top: 4.4px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.choices {
  margin-left: 5rem;
}
label.newwrapper {
  font-weight: bold;
}

.show-schedule{
  padding-top: 3rem !important;
  padding-bottom: 6rem !important;

}

button.select-this-option.btn.btn-home-log {
  width: 17%;
  position: relative;
  left: 41%;
  top: -12px;
}
img:hover{
  cursor: pointer;
}

/*th:nth-child(2) {background-color:lightblue }*/
/*th:nth-child(3) {background-color:limegreen }*/
/*th:nth-child(4) {background-color:yellow }*/
/*th:nth-child(5) {background-color:lightcoral }*/
/*th:nth-child(6) {background-color:slategray}*/

.generate-with-pref{
  color: white !important;
  text-transform: uppercase !important;
  background-color: #010101 !important;
  border-color: #540E72 !important;
  border-radius: 10px !important;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  /* width: 93%; */
}
.course_seq{
  /*text-align: center;*/
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  border-color: #28074D !important;
  border-width: 2px;
  padding: 20px 50px;
  margin: 2rem 0 5rem 0;
  /*text-align: center;*/
}

.middle{
  text-align: center;
}
h4 {
  border-radius: 0.5rem;
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  border-color: #28074D !important;
  border-width: 2px;
  color: #540E72;
  /* width: 62%; */
  padding: 10px;
  text-align: center;
  position: relative;
  /* left: 19%; */
  margin: 15px 0;
}

h3.middle{
  color: #540E72;
  text-align: center;
  margin-top: 17px;
}

.add_space{
  margin-top: 20px;
}
.sequence ul.b {
  list-style-type: square;
}
.sequence li{
  list-style-type: square;
}
.sequence ul {
  list-style-type: none;
  margin: 0 0 0 45%;
  padding: 0;
}
.header ul{
  margin: 0;
}
button:focus{
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}