.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.center {
  width: 42% !important;
  border: 7px solid green;
  padding: 73px 57px 75px 63px;
  margin: 79px 47px 150px 310px;
  text-align: center;
}
.center- {
  width: 42% !important;
  border: 7px solid green;
  padding: 50px 126px 51px 93px;
  margin: 70px 0 31px 306px;
  text-align: center;
}
button, input, optgroup, select, textarea {
  margin: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn-success {
  width: 40%;
  margin-left: 12px;
}
#container{
  color : black;
  /*background-color: #C9C7F2;*/

}
.card-signup,
.card-signin {
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  border-color: darkred;
  border-width: 2px;
}
.card-signup .card-title,
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.card-signup .card-body,
.card-signin .card-body {
  padding: 2rem;
}
input.col-6,
input.col-12 {
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  border-color: darkred;
  border-width: 1px;
  padding: 9px;
  margin: 0 0 19px 0;
  text-transform: uppercase;
  color: darkred;
}

.btn-home-log{
  color: white !important;
  text-transform: uppercase !important;
  background-color: darkred !important;
  border-color:darkred !important;
  border-radius: 10px !important;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  width: 93%;
}
/*.container.center.card-signin {*/
  /*max-width: 15rem;*/
  /*height: 28rem;*/
/*}*/

.container.select-semester {
  padding-top: 10rem;
  text-align: center;
}
img.ScheduleGen {
  padding-bottom: 100px;
}
.ScheduleGen-{
  padding-bottom: 100px;
  padding-top: 100px;
}
hr{
  color: darkred;
  background-color: darkred;
}
.select-semester-button{
  padding-top: 1rem;

}
.wrapper {
  text-align: center;
}
.theList,
div.selected-courses,
input.col-8.course-name {
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  border-color: darkred;
  border-width: 1px;
  padding: 9px;
  margin: 0 0 19px 0;
  position: relative;
  top: 15px;
  left: 40px;
}
.theList,
div.selected-courses{
  border-color: darkred;
}
button.col-3.btn.btn-home-log {
  position: relative;
  left: 50px;
  top: 6px;
  height: 3rem;
}
.register{
  color: darkred;
}
.reg{
  padding-top: 20px;
}
.logo{
  position: relative;
  left: -40px;
}
headerStyle:hover,
.headerStyle{
  background: darkred;
  color: #fff;
  textAlign: center;
  padding: 10px;
}

.linkStyle,
.linkStyle:hover{
  text-decoration: none;
  color: #fff;
}
.container- {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto
}
.semester{
  padding: 100px 0 50px 0;
}
.s-course{
  padding-bottom: 5rem;
}
.close {
  width: 32px;
  /*opacity: 0.3;*/
  -webkit-box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.1);
  opacity: 1;

}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: darkred;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
button.close {
  padding: 0px;
  margin: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.row:focus {
  outline: none;
}